~*
.vscode/settings.json
renergetic_ui/docs/license/out/license.zip
renergetic_ui/src/assets/test/in/BE-be/primevue/dayNamesShort/index.json
renergetic_ui/src/assets/test/
renergetic_ui/src/assets/locales/app.js
renergetic_ui/src/assets/app.js
