@import "./variables.scss";

.ren.p-button {
  width: fit-content;
  min-width: 10rem;
  padding: 0 1.5rem;
}

.ren .p-button {
  max-width: 30rem;
}

.ren-button {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
