// @import url('primevue/resources/themes/nova-vue/theme.css');
$inputwidth: 100%;
$primary-color: #94ba39; //#F1F2F2;//#0D89EC
$secondary-color: #f1f2f2; //#F1F2F2;//#0D89EC
$sidemenu-button-width: 2rem; 